:root {
    --crema: #d9b9a0;
    --fondo: #fffaf1;
    --fondo-blur: rgba(255, 250, 241, 0.75);
    /* Semi-transparent for glass effect */
    --texto: #3c2415;
    --ocre: #cfa358;
    --verde: #4b6f39;
    --contenedores: #fffff1;
    --aros: #b15f0c;
    --collares: #327140;

    /* Typography Sizes */
    --font-size-hero: clamp(32px, 6vw, 60px);
    --font-size-title-main: clamp(1.2rem, 4vw, 1.8rem);
}