@font-face {
    font-family: 'Segoe Ui';
    src: url("fonts/Segoe.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe Ui';
    src: url("fonts/SegoeBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe Ui';
    src: url("fonts/SegoeBoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe Ui';
    src: url("fonts/SegoeItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'S Serif';
    src: url("fonts/SilkSerifExtraLight.woff2") format("woff2");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'S Serif';
    src: url("fonts/SilkSerifLight.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'S Serif';
    src: url("fonts/SilkSerifRegular.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: 'S Serif';
    src: url("fonts/SilkSerifBold.woff2") format("woff2");
    font-weight: bolder;
}

:root {
    --crema: #d9b9a0;
    --fondo: #fffaf1;
    --texto: #3c2415;
    --ocre: #cfa358;
    --verde: #4b6f39;
    --contenedores: #fffff1;
    --aros: #b15f0c;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    margin: 0;
    background-color: var(--fondo) !important;
    font-family: 'S Serif', 'Times New Roman', Times, serif !important;
    font-weight: normal;
}

.oculto {
    display: none !important;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 5.5vw 0 7vw;
    width: 100vw;
}

#navbarNav {
    position: absolute;
    left: 0;
    top: 0;
    padding: 100px 100vw 100vh 40px;
    background-color: var(--fondo);
    z-index: 1;
    font-weight: bold;
    font-size: clamp(23px, 5vw, 50px);
    overflow: hidden;
    transition: ease-in-out 0.5s;
    opacity: 0;
}

#navbarNav.open {
    opacity: 1;
}

.nav-link {
    color: var(--aros) !important;
}

.nav-link span {
    color: var(--fondo);
}

.linealarga {
    width: 25px;
    height: 1.5px;
}

#lineacorta {
    width: 20px;
    height: 1.5px;
}

#icono {
    width: clamp(25px, 10vw, 70px);
    height: auto;
    z-index: 2;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    z-index: 2;
}

.navbar-toggler span {
    display: block;
    background: var(--texto);
    transition: ease 0.3s;
}

.navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(5px, 7px);
}

.navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -7px);
}

.navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

#fondo {
    position: absolute;
    width: 100%;
    height: 300%;
    background: url(img/fondo.webp);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1000;
}

#blank {
    height: 37vw;
}

header {
    display: flex;
    text-align: center;
}

.contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
}

#cajatitulo {
    background-color: var(--contenedores);
    border: 1px lightgrey solid;
    padding: 2%;
    width: 80vw !important;
}

#bordetitulo {
    border: 1px var(--ocre) solid;
    padding: 15px 0 5px 0;
    width: 75vw;

}

h1 {
    font-size: clamp(23px, 7vw, 70px) !important;
    font-family: 'S Serif', 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
    color: var(--ocre) !important;
    padding: 0 8px;
}

h6 {
    font-size: clamp(10px, 3.2vw, 30px) !important;
    font-family: 'Segoe Ui', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: normal !important;
    color: var(--dark) !important;
    padding: 7px 5px !important;
}

.caja {
    position: relative;
    display: block;
}

.caja img {
    width: 100%;
    height: auto;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
}

.txttitulo {
    position: absolute;
    top: 24%;
    left: 20%;
}

.txttitulo h2 {
    font-weight: lighter;
    font-size: clamp(35px, 15vw, 200px) !important;
    color: var(--texto);
}

#blank2 {
    height: 40vh;
}

@media screen and (min-width: 375px) {
    #blank2 {
        height: 50vh;
    }
}

@media screen and (min-width: 400px) {
    #blank2 {
        height: 70vh;
    }
}

#btnseccion {
    background: none;
    outline: none;
    border: none;
    padding: 7vw 0 0 5vw;
    width: 38vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe Ui', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--aros);
}

h4 {
    font-size: clamp(15px, 5.7vw, 40px) !important;
}

#flecha {
    margin: 0 15px 7px 10px;
    transition: transform 0.3s ease-in-out !important;
}

#flecha.animar {
    transform: rotate(-90deg) !important;
}

.linea {
    flex-grow: 1;
    height: 0.75px;
    margin-top: 10px;
    background-color: var(--aros);
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 25px 15px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center !important;
}

.pseccion {
    color: var(--verde);
    font-weight: bolder !important;
    font-size: clamp(10px, 4.7vw, 30px) !important;
    margin: 5px 0 0px 3vw;
}

.productos,
.pseccion {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.productos.mostrar,
.pseccion.mostrar {
    max-height: 500px;
    opacity: 1;
}


h5 {
    font-family: 'Segoe Ui', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0 10px 0;
    font-size: 3vw !important;
    text-align: center;
    color: var(--texto);
    font-weight: normal !important;
}

.imgprod {
    width: clamp(70px, 30vw, 140px);
    height: clamp(70px, 30vw, 140px);
    outline: 1.2px solid var(--fondo);
    outline-offset: -7px;
    object-fit: cover;
}

.txttitulo h2 span,
.txttitulo1 h3 span {
    font-weight: bold;
    color: var(--fondo);
}

.txttitulo1 h3 {
    font-weight: lighter;
    font-size: clamp(30px, 11vw, 115px) !important;
    color: var(--texto);
}

.txttitulo1 {
    position: absolute;
    top: 31%;
    left: 8%;
}

.encargosinfo {
    display: flex;
    padding: 0 4vw;
}

#contenedorencargos {
    padding: 7vh 4vw 5vh 4vw;
}

#contenedorencargos p {
    text-align: center;
    padding: 0 8vw;
    font-family: "Segoe Ui";
    color: var(--texto);
    font-size: clamp(11px, 3.5vw, 28.5px);
}

.pencargos {
    text-align: left !important;
    font-size: clamp(9px, 3.2vw, 25px) !important;
    margin: 15px 0 !important;
    padding: 0 !important;
}

.tituloencargos {
    font-family: 'S Serif', 'Times New Roman', Times, serif !important;
    font-size: clamp(14px, 6vw, 39px) !important;
}

#soydemza {
    color: var(--verde) !important;
    font-family: 'S Serif', 'Times New Roman', Times, serif !important;
    border-left: 1.4px solid #4b6f39;
    padding-left: 15px !important; 
}

#mzap {
    color: #3c582f !important;
    margin-left: 3vw !important;
    padding-bottom: 30px;
}

#soydeotraprov {
    color: var(--ocre) !important;
    border-right: 1.5px solid var(--ocre);
    text-align: right;
    padding-right: 15px !important;
}

#provp {
    color: #826738 !important;
    margin-right: 3vw !important;
}

#btnencargar {
    border: none;
    background-color: var(--contenedores);
    padding: 2.5vh 9vw;
    margin: 6vh 0;
    border: 1px lightgrey solid;
    font-size: clamp(15px, 4.9vw, 35px);
    position: relative;
}

#btnencargar:hover {
    background-color: #e2e2d8;
    transition: ease-in-out 0.1s;
}

#btnencargar::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border: 0.7px solid var(--ocre);
}

a {
    text-decoration: none !important;
    color: var(--ocre) !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#fondo2 {
    margin-top: auto;
    width: 100vw;
    background: url(img/fondo2.webp) no-repeat bottom center;
    background-size: cover;
    z-index: -1000;
    position: absolute;
}

@media screen and (min-width: 250px) {
    #fondo2 {
        height: 40%;
    }
}

@media screen and (min-width: 330px) {
    #fondo2 {
        height: 50%;
    }
}


@media screen and (min-width: 500px) {
    #fondo2 {
        height: 70%;
    }
}


footer {
    padding-top: 30vw;
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
}

#footermarca {
    font-family: 'S Serif', 'Times New Roman', Times, serif !important;
    font-size: clamp(15px, 6vw, 40px) !important;
    padding-top: 5vh !important;
}

#footertxt {
    margin: -10px 0 3px 0 !important;
    padding-top: 0 !important;
}

#contacto {
    justify-content: space-between;
    width: 50vw;
    color: var(--texto);
}

#contacto i {
    margin: 0 3px 50px 3px;
    transform: scale(1.11);

}

i {
    color: var(--texto) !important;
}

.txtanimacion {
    opacity: 0.01;   
}