@font-face {
    font-family: 'Main';
    src: url("assets/Segoe.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url("assets/SegoeBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url("assets/SegoeBoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Main';
    src: url("assets/SegoeItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Secondary';
    src: url("assets/SilkSerifExtraLight.woff2") format("woff2");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Secondary';
    src: url("assets/SilkSerifRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Secondary';
    src: url("assets/SilkSerifSemiBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

:root {
    --cream: #d9b9a0;
    --background: #fffaf1;
    --dark: #3c2415;
    --ocre: #cfa358;
    --greeny: #4a5631;
    --yellowy: #fffff1;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color: var(--background) !important;
    font-family: 'Main'!important;
    font-weight: normal !important;
}

img {
    user-select: none;
}

#mask {
    position: absolute;
    width: 100%;
    height: 300%;
    background: url(assets/hero-pattern.webp);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1000;
}

h1 {
    font-size: clamp(23px, 7vw, 40px) !important;
    font-family: 'Secondary' !important;
    font-weight: normal !important;
    color: var(--ocre);
    padding: 0 5px;
}

h3 {
    font-size: clamp(10px, 3.2vw, 20px) !important;
    font-family: 'Main' !important;
    font-weight: normal !important;
    color: var(--dark);
    padding: 5px 5px;
}

.error {
    display: none;
}

#herobox {
    background-color: var(--yellowy) !important;
    border: 1px lightgrey solid;
    padding: 2%;
    width: 80vw;
}

#titleframe {
    border: 1px var(--ocre) solid;
    padding:   15px 0 5px 0;
    width: max-content;
}

#icon {
    width: clamp(20px, 10vw, 70px);
    height: auto;
}

#nav {
    padding: 30px 0 0 7vw;
}

.blank {
    height: 37vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    display: flex;
    text-align: center;
}

@media (min-width: 500px) {
    .error {
        display: block;
    }

    .displaynone {
        display: none;
    }

    h1 {
        color: coral;
    }

    #titleframe {
        border: 1px solid coral;
    }

    #herobox {
        width: 55vw;
    }

    .blank {
        height: 15vh;
    }
}

@media (min-width: 321px) {
    .blank {
        height: 23vh;
    }
}

@media (min-width: 425px) {
    .blank {
        height: 32vh;
    }
}

.titletxt {
    font-family: 'Secondary' !important;
    font-weight: normal !important;
    font-size: clamp(40px, 15vw, 130px);
}

#blanktitle {
    margin-top: 130%;
    padding: 0;
}

.difftxt {
    font-weight: bold;
    color: var(--background);
}

#bg1 {
    background: url(assets/title1.webp);
    position: absolute;
    width: 50%;
    height: 300%;
    right: 0;
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1000;
}

.titlee {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    height: clamp(30px, 30px, 90px);
}